<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>event_info</key>
	<dict>
		<key>0</key>
		<dict>
			<key>location</key>
			<string>loc0</string>
			<key>title</key>
			<string>title0</string>
			<key>description</key>
			<string>description0</string>
			<key>start_time</key>
			<string>2015-11-19 6:00:00</string>
			<key>image</key>
			<string>http://www.todayifoundout.com/wp-content/uploads/2010/03/kittens2-e1268293115429.jpg</string>
		</dict>
		<key>1</key>
		<dict>
			<key>location</key>
			<string>loc1</string>
			<key>title</key>
			<string>title1</string>
			<key>description</key>
			<string>description1</string>
			<key>start_time</key>
			<string>2015-11-19 6:15:00</string>
			<key>image</key>
			<string>http://www.momswhothink.com/images/stories/baby-names/female-cat-names.jpg</string>
		</dict>
		<key>2</key>
		<dict>
			<key>location</key>
			<string>loc2</string>
			<key>title</key>
			<string>title2</string>
			<key>description</key>
			<string>description2</string>
			<key>start_time</key>
			<string>2015-11-19 6:30:00</string>
			<key>image</key>
			<string>https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSQdAVaKjp65gMXjHehPZh-SeTeHfGggIY_mbKrUtp9i07t_wy73Q</string>
		</dict>
		<key>3</key>
		<dict>
			<key>location</key>
			<string>loc3</string>
			<key>title</key>
			<string>title3</string>
			<key>description</key>
			<string>description3</string>
			<key>start_time</key>
			<string>2015-11-19 6:45:00</string>
			<key>image</key>
			<string>http://www.aaj.tv/wp-content/uploads/2015/08/bullet_cat1.jpg</string>
		</dict>
	</dict>
	<key>user_info</key>
	<dict>
		<key>100000000001</key>
		<dict>
			<key>fb_id</key>
			<string>111</string>
			<key>name</key>
			<string>name1</string>
			<key>profile_picture</key>
			<string>https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xtf1/v/t1.0-1/p200x200/11218842_10153527523609536_7350691858090945148_n.jpg?oh=ee50fe0b6e9c7aaa2974dbf5e473e4ec&amp;oe=56B6FC96&amp;__gda__=1455944704_fa87667dfdbe9d1e2524ddae5b5fd927</string>
		</dict>
		<key>100000000002</key>
		<dict>
			<key>fb_id</key>
			<string>222</string>
			<key>name</key>
			<string>name2</string>
			<key>profile_picture</key>
			<string>https://graph.facebook.com/100001334225253/picture?type=large</string>
		</dict>
		<key>100000000003</key>
		<dict>
			<key>fb_id</key>
			<string>333</string>
			<key>name</key>
			<string>name3</string>
			<key>profile_picture</key>
			<string>https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/p200x200/11407233_1000531419965621_8532305130683400204_n.jpg?oh=e2bf4776e1304d65eab19e076a6bbe97&amp;oe=56AE4055&amp;__gda__=1454860631_17433285cddadd8f758cca91f54d9648</string>
		</dict>
		<key>100000000004</key>
		<dict>
			<key>fb_id</key>
			<string>444</string>
			<key>name</key>
			<string>name4</string>
			<key>profile_picture</key>
			<string>https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpl1/v/t1.0-1/p200x200/12096017_10153612338181183_3121649000878955239_n.jpg?oh=1a8417163a909060e02ada568fc79b07&amp;oe=56B31F08&amp;__gda__=1454156633_e7b46ea4818fd553d63cd4911d16a10c</string>
		</dict>
	</dict>
</dict>
</plist>
