<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>user_id</key>
		<string>100000000001</string>
		<key>event_id</key>
		<string>0</string>
		<key>status</key>
		<string>1</string>
		<key>privlages</key>
		<string>1</string>
	</dict>
	<dict>
		<key>user_id</key>
		<string>100000000001</string>
		<key>event_id</key>
		<string>1</string>
		<key>status</key>
		<string>1</string>
		<key>privlages</key>
		<string>1</string>
	</dict>
	<dict>
		<key>user_id</key>
		<string>100000000001</string>
		<key>event_id</key>
		<string>2</string>
		<key>status</key>
		<string>1</string>
		<key>privlages</key>
		<string>1</string>
	</dict>
	<dict>
		<key>user_id</key>
		<string>100000000001</string>
		<key>event_id</key>
		<string>3</string>
		<key>status</key>
		<string>1</string>
		<key>privlages</key>
		<string>1</string>
	</dict>
	<dict>
		<key>user_id</key>
		<string>100000000002</string>
		<key>event_id</key>
		<string>0</string>
		<key>status</key>
		<string>1</string>
		<key>privlages</key>
		<string>1</string>
	</dict>
	<dict>
		<key>user_id</key>
		<string>100000000003</string>
		<key>event_id</key>
		<string>1</string>
		<key>status</key>
		<string>1</string>
		<key>privlages</key>
		<string>1</string>
	</dict>
	<dict>
		<key>user_id</key>
		<string>100000000004</string>
		<key>event_id</key>
		<string>2</string>
		<key>status</key>
		<string>1</string>
		<key>privlages</key>
		<string>1</string>
	</dict>
	<dict>
		<key>user_id</key>
		<string>100000000004</string>
		<key>event_id</key>
		<string>3</string>
		<key>status</key>
		<string>0</string>
		<key>privlages</key>
		<string>1</string>
	</dict>
	<dict>
		<key>user_id</key>
		<string>100000000003</string>
		<key>event_id</key>
		<string>3</string>
		<key>status</key>
		<string>2</string>
		<key>privlages</key>
		<string>1</string>
	</dict>
	<dict>
		<key>user_id</key>
		<string>100000000002</string>
		<key>event_id</key>
		<string>3</string>
		<key>status</key>
		<string>1</string>
		<key>privlages</key>
		<string>1</string>
	</dict>
</array>
</plist>
